<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head %}
    Monitor Linux
        {% endblock %}</title>
    {% block custom_css %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <!-- Additional head content can go here --->
    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</head>
<body>
<div class="page-content" style="background-color: #151519">
    <nav class="navbar fixed-top navbar-expand-md navbar-dark nav-dashboard mb-3" style="color: white">
        <div class="flex-row d-flex">
            <a class="navbar-brand" style="color: #5ccfc1;" href="/">Monitor Linux</a>
        </div>
        <!-- Mobile Navigation Bar -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- /Mobile Navigation Bar -->
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto" style="display: {{ logged }};">
                <li class="nav-item nav-button"><a class="nav-link" href="/mem">Memory</a></li>
                <li class="nav-item nav-button"><a class="nav-link" href="/cpu">CPU</a></li>
                <li class="nav-item nav-button"><a class="nav-link" href="/swap">Swap</a></li>
                <li class="nav-item nav-button"><a class="nav-link" href="/process">Process</a></li>
                <li class="nav-item nav-button"><a class="nav-link" href="/disk">Disk Space</a></li>
            </ul>
        </div>
    </nav>

    <div class="container" style="padding-top: 100px;">

    {% block content %}
        <h2 class="center">Welcome to the Linux Monitoring System</h2>
        <h3 class="center">Currently connected to:</h3>
        <br>
        <h3 class="center">IP Address: {{ ip_addr }}</h3>
        <h3 class="center">Username: {{ username }}</h3>
        <br>
        <p class="center">This application provides a comprehensive overview of your Linux machine's performance and metrics. Navigate through the dashboard to explore detailed insights and optimize your system's efficiency.</p>
    {% endblock %}

    </div>
</div>
    <footer class="container-fluid text-center">
        <p style="color: #5ccfc1;">©2024 Kaleidoo</p>
    </footer>


</body>
</html>
