{% extends "base.html" %}
{% block head %}
CPU Monitoring
{% endblock %}
{% block content %}
    <div class="row">
        <!--------CPU------------->
        <div class="col main pt-5 mt-3">
            <h2>CPU Live Data</h2>
            <div class="row mb-3">
                <div class="col-xl-3 col-sm-6 py-2">
                    <div class="card card-bg h-100" style="color: #66bdef; background-color: black;">
                        <div class="card-body card-bg">
                            <div class="rotate">
                                <i class="fa fa-user fa-4x"></i>
                            </div>
                            <h6 class="text-uppercase">User %</h6>
                            <h1 class="display-4" id="cpu_us">{{cpu['us']}}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 py-2">
                    <div class="card card-bg h-100" style="color: #5ccfc1; background-color: black;">
                        <div class="card-body card-bg">
                            <div class="rotate">
                                <i class="fa fa-list fa-4x"></i>
                            </div>
                            <h6 class="text-uppercase">System %</h6>
                            <h1 class="display-4" id="cpu_sy">{{cpu['sy']}}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 py-2">
                    <div class="card card-bg h-100" style="color: #fe7096; background-color: black;">
                        <div class="card-body card-bg">
                            <div class="rotate">
                                <i class="fa fa-twitter fa-4x"></i>
                            </div>
                            <h6 class="text-uppercase">Nice %</h6>
                            <h1 class="display-4" id="cpu_ni">{{cpu['ni']}}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 py-2">
                    <div class="card card-bg h-100" style="color: #ffa496; background-color: black;">
                        <div class="card-body card-bg">
                            <div class="rotate">
                                <i class="fa fa-share fa-4x"></i>
                            </div>
                            <h6 class="text-uppercase">Idle %</h6>
                            <h1 class="display-4" id="cpu_id">{{cpu['id']}}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!--/row-->
            <div class="row mb-3">
                <div class="col-xl-3 col-sm-6 py-2">
                    <div class="card card-bg h-100" style="color: #a39bf8; background-color: black;">
                        <div class="card-body card-bg">
                            <div class="rotate">
                                <i class="fa fa-user fa-4x"></i>
                            </div>
                            <h6 class="text-uppercase">I/O Wait %</h6>
                            <h1 class="display-4" id="cpu_wa">{{cpu['wa']}}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 py-2">
                    <div class="card card-bg h-100" style="color: #d083ff; background-color: black;">
                        <div class="card-body card-bg">
                            <div class="rotate">
                                <i class="fa fa-list fa-4x"></i>
                            </div>
                            <h6 class="text-uppercase">H/W Interrupt %</h6>
                            <h1 class="display-4" id="cpu_hi">{{cpu['hi']}}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 py-2">
                    <div class="card card-bg h-100" style="color: #be2e36; background-color: black;">
                        <div class="card-body card-bg">
                            <div class="rotate">
                                <i class="fa fa-twitter fa-4x"></i>
                            </div>
                            <h6 class="text-uppercase">S/W Interrupt %</h6>
                            <h1 class="display-4" id="cpu_si">{{cpu['si']}}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 py-2">
                    <div class="card card-bg h-100" style="color: #fade52; background-color: black;">
                        <div class="card-body card-bg">
                            <div class="rotate">
                                <i class="fa fa-share fa-4x"></i>
                            </div>
                            <h6 class="text-uppercase">Steal %</h6>
                            <h1 class="display-4" id="cpu_st">{{cpu['st']}}</h1>
                        </div>
                </div>
        </div>
    </div>
            <!--/row--->
<!-- CPU graf -->

<!-- Include Chart.js and jQuery -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="chart-container center" style=" margin: 5%">
    <canvas id="myChart"></canvas>
</div>

<script>
    var myChart; // Declare myChart in the global scope

    // Function to update the chart with data
    function updateChart(data) {
        // Update chart data
        myChart.data.labels = data.all_cpu.map(function (entry) {
            return entry.dt;
        });
        myChart.data.datasets[0].data = data.all_cpu.map(function (entry) {
            return entry.us;
        });
        myChart.update();
    }

    // Function to make AJAX call and update chart data
    function ajaxCall() {
        $.ajax({
            url: 'http://127.0.0.1:5001/refresh_cpu',
            type: "GET",
            success: function (data) {
                // Update chart with live data
                updateChart(data);

                // Update HTML elements with live data
                document.getElementById('cpu_us').innerText = data.cpu['us'];
                document.getElementById('cpu_sy').innerText = data.cpu['sy'];
                document.getElementById('cpu_ni').innerText = data.cpu['ni'];
                document.getElementById('cpu_id').innerText = data.cpu['id'];
                document.getElementById('cpu_wa').innerText = data.cpu['wa'];
                document.getElementById('cpu_hi').innerText = data.cpu['hi'];
                document.getElementById('cpu_si').innerText = data.cpu['si'];
                document.getElementById('cpu_st').innerText = data.cpu['st'];
            },
            error: function (error) {
                console.log("Error", error);
            }
        });
    }

    // Create the chart after DOMContentLoaded
    document.addEventListener("DOMContentLoaded", function () {
        // Get the canvas element
        var ctx = document.getElementById("myChart").getContext("2d");
        // Create the chart
        myChart = new Chart(ctx, {
            type: "line",
            data: {
                labels: [{% for entry in all_cpu %} "{{ entry.dt }}", {% endfor %}],
                datasets: [{
                    label: "CPU",
                    data: [{% for entry in all_cpu %} {{ entry.us }}, {% endfor %}],
                    fill: false,
                    borderColor: "rgb(75, 192, 192)",
                    tension: 0.1
                }]
            },
            options: {
                plugins: {
                    legend: {
                        labels: {
                            color: 'white' // Set legend label color to white
                        }
                    }
                },
                elements: {
                    line: {
                        borderColor: 'white', // Set line color to white
                        fill: false,
                    }
                },
                scales: {
                    x: {
                        ticks: {
                            color: 'white' // Set X-axis tick color to white
                        },
                        grid: {
                            color: "#757575", // Set grid line color to white
                        }
                    },
                    y: {
                        ticks: {
                            color: 'white' // Set Y-axis tick color to white
                        },
                        grid: {
                            color: "#757575", // Set grid line color to white
                        }
                    }
                }
            }
        });
        // Call ajaxCall function initially to fetch live data
        ajaxCall();
        // Call ajax every 10 seconds
        setInterval(ajaxCall, 10000);
    });
</script>

    </div>
</div>
{% endblock %}
